extends ./layout/index

block slider 
    .slider 
        h1 Rio de Jainero 
        em Aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus reiciendis atque consequuntur, hic sapiente quasi dicta impedit obcaecati beatae quisquam error laudantium quam mollitia accusantium a id officia ut. Ut.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus reiciendis atque consequuntur, hic sapiente quasi dicta impedit obcaecati beatae quisquam error laudantium quam mollitia accusantium a id officia ut. Ut.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros", class='img-fluid')
        include ./layout/bloque_viajes
    
    .descuento
        .container
            .row 
                .row-md-6
                    .contenido  
                        h3  5% de Descuento 
                        p.titulo Viaje Canada 
                        p.fecha 20 de Enero 2024 - 28 de Enero 2024
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales