extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias quam iure harum sint quidem nobis laudantium error ad iusto dolorum excepturi, dignissimos deleniti nisi! Perferendis delectus repudiandae libero aperiam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias quam iure harum sint quidem nobis laudantium error ad iusto dolorum excepturi, dignissimos deleniti nisi! Perferendis delectus repudiandae libero aperiam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias quam iure harum sint quidem nobis laudantium error ad iusto dolorum excepturi, dignissimos deleniti nisi! Perferendis delectus repudiandae libero aperiam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .listado-iconos     
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono_seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias quam iure harum sint quidem nobis laudantium error ad iusto dolorum excepturi
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono_destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias quam iure harum sint quidem nobis laudantium error ad iusto dolorum excepturi
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono_precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem molestias quam iure harum sint quidem nobis laudantium error ad iusto dolorum excepturi